.transaction-table-container{
  width: 70vw;
  background-color: white;
  /* margin: 20px; */
  padding: 20px;
  height: fit-content;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;
  color: #343434 ;
}

.transaction-table-col-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 68vw;
}

.bank-app-transaction-table-container{
  margin-bottom: 0px;
}

.transaction-table-col{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 70vw;
}

.transaction-table-col-names{
  font-size: 15px;
  font-weight: bold;
  display: flex;
}

.transaction-name-col{
  width: 20vw;
}

.transaction-category-col{
  width: 15vw;
}

.transaction-date-col{
  width: 15vw;
}

.transaction-amount-col{
  width: 15vw;
}

.amount-credit{
  color: rgb(38, 143, 143);
}

.amount-debit{
  color: rgb(199, 46, 46);
}

.transaction-editable{
  width: 6vw;
  display: flex;
  justify-content: space-between;
}

.transaction-records-container{
  display: flex;
  flex-direction: column;
}

.transaction-record{
  display: flex;
  justify-content: space-between;
  width: 68vw;
  height: 5vh;
}

.record1{
  font-weight: normal;
  font-size: 10px;
}

.record-name{
  display: flex;
  align-items: center;
}

.transaction-up-arrow{
  font-size: 20px;
  padding: 20px;
  padding-right: 20px;
  color:  rgb(81, 185, 81);
}

.record-divide { 
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 0.5px;
  border-color: white;
} 


.bank-app-latest-transactions{
  height: fit-content;
}

.transaction-down-arrow{
  font-size: 20px;
  padding: 20px;
  padding-right: 20px;
  color: rgb(199, 46, 46);
}

.transaction-editor{
  color: rgb(0, 119, 255);
    cursor: pointer;
    font-size: 20px;
}

.transaction-delete{
    cursor: pointer;
    color: rgb(199, 46, 46);
  font-size: 20px;
}

