.bank-app-profile-container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bank-app-profile-user-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
    background-color: white;
    padding: 10px;
}

.row-1{
    width: 36vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile-input-conatiner{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30vw;
    height: 13vh;
}

.bank-app-profile-input{
    height: 5vh;
    border-radius: 5px;
    font-size: 15px;
}

.bank-app-profile-label{

}