.bank-app-profile-container{
    height: 90vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    background-color: rgba(182, 182, 179, 0.466);
    justify-content: space-around;
    align-items: center;
}

.bank-app-profile-user-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70vw;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.row-1{
    width: 36vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile-input-conatiner{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30vw;
    height: 13vh;
}

.bank-app-profile-input{
    height: 5vh;
    border-radius: 5px;
    font-size: 15px;
}

.custome-image{
    height: 90px;
    width: 90px;
    border-radius: 50%;
}