/* Body styles */
/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
  }
   */
  /* Left Sidebar styles */
  .bank-app-left-sidebar {
    width: 20vw;
    height: 100vh;
    background-color: #ffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position: fixed; */
  }
  
  .bank-app-logo{
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 20vw;
    color: rgb(100, 190, 100);
  }

  .bank-app-sidebar-top{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .highlite{
    width: 5px;
  }

  .bank-app-tabs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .bank-app-tab {
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    width: 12vw;
    justify-content: space-between;
  }
  
  /* Style for the active tab */
  .bank-app-active {
    background-color: rgb(47, 98, 175);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: bold;
    width: 3px;
  }
  
  .bank-app-bottom-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    margin-bottom: 20px;
    border: 1px solid #FAF9F6;
  }

  .bank-app-bottom-icons-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 18vw;
  }

  .bank-app-sidebar-avatar-conatiner{
    width: 6vw;
    padding-top: 15px;
  }
  
  .bank-app-user-profile-pic {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .bank-app-logout-icon {
    font-size: 24px;
    cursor: pointer;
    color: #666;
    width: 4vw;
  }
  
  /* Main Content styles */
  .bank-app-main-content {
    padding: 20px;
  }
  
  /* Button styles */
  .bank-app-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .bank-app-button:hover {
    background-color: #0056b3;
  }
  

  .bank-app-logo-container{
    padding: 10px;
    cursor: pointer;
  }

  .bank-app-logo{
    width: 16vw;
  }

  .bank-app-active-menu{
    font-weight: bold;
    color: #007bff;
    width: 4vw;
  }

  .bank-app-active-menu-icon{
    font-weight: bold;
    padding-top: 18px;
    color: #007bff;
    width: 5vw;
  }

  .bank-app-menu{
    font-weight: bold;
    color: #4b88c9;
    width: 4vw;
  }

  .bank-app-menu-icon{
    font-weight: bold;
    color: #4b88c9;
    padding-top: 18px;
  }

  .bank-app-profile-name{
    font-size: 15px;
  }

  .profile-name{
    width: 8vw;
  }

